// Inheritances
@use "presets"
@use "templates"
@use "sets"
// Variables & Mixins


// Configurations
html, body
	width: 100%
	height: 100%
	margin: 0

.container-lv0
	position: absolute

.container-lv-1
	position: fixed

.container-lv1
	position: relative

.container-lv-2
	position: sticky
	
.flex-page	
	display: inherit
	width: inherit

.flex-text
	@include presets.bs-text-display-3
	color: white !important
	cursor: default
	@include presets.no-select
	@include presets.font-sans_serif
	@include templates.css3-prefix(transition, font-size .3s ease-in-out)
	&:hover
		font-size: 5rem
		@include templates.css3-prefix(transition, font-size .3s ease-in-out)
	&:hover ~ .underconstruction
		font-size: 13rem !important
		@include templates.css3-prefix(transition, font-size .3s ease-in-out)

.page-full
	background-color: presets.$grey-bg
	width: inherit
	height: inherit

.underconstruction 
	font-size: 12rem !important
	margin-bottom: 48px
	color: white
	cursor: default
	@include presets.no-select
	@include templates.css3-prefix(transition, font-size .3s ease-in-out)
	&:hover
		font-size: 13rem !important
		@include templates.css3-prefix(transition, font-size .3s ease-in-out)
	&:hover ~ .flex-text
		font-size: 5rem
		@include templates.css3-prefix(transition, font-size .3s ease-in-out)









