// Inheritances
@use "presets"
@use "templates"
@use "sets"
// Variables & Mixins


// Configurations
html, body
	width: 100%
	height: 100%
	margin: 0

.container-lv0
	position: absolute

.container-lv-1
	position: fixed

.container-lv1
	position: relative

.container-lv-2
	position: sticky
	







