// Inheritances
@use "presets"
@use "templates"
@use "sets"
// Variables & Mixins
$bg-topSize: 600px

// Configurations
html, body
	width: 100%
	height: 100%
	margin: 0

a
	text-decoration: none


.container-lv0
	position: absolute

.container-lv-1
	position: fixed

.container-lv1
	position: relative

.container-lv-2
	position: sticky

.content-disable
	display: none

.content-children-disable
	*
		display: none 
	&:hover
		display: none
	&:active
		display: none
	&:link
		display: none

.scrollable-page
	@include presets.scrollable-page
	h1
		&.pagename
			@include presets.bs-text-h1
			@include presets.font-serif
			font-size: 8vmin !important
			font-weight: 700 !important
			letter-spacing: 0.05em
			text-transform: uppercase
			color: presets.$accent-color
			padding-bottom: 16px
			padding-top: 6vh

.bg-topsection
	position: static
	overflow: visible
	padding: 0 0 $bg-topSize 0 !important
	margin-bottom: calc(-#{$bg-topSize} + 72px)
	margin-top: -72px
	width: 100vw
	background-repeat: no-repeat
	background-size: 100% auto
	@include presets.no-select

.flex-page	
	display: inherit
	width: inherit

.flex-text
	@include presets.bs-text-display-3
	@include presets.bs-text-center
	font-size: 8vmin !important
	color: presets.$white-muted
	cursor: default
	@include presets.no-select
	@include presets.font-sans_serif
	@include templates.css3-prefix(transition, font-size .3s ease-in-out)
	&:hover
		font-size: 8.5vmin !important
		@include templates.css3-prefix(transition, font-size .3s ease-in-out)
	&:hover ~ .underconstruction
		font-size: 28vmin !important
		@include templates.css3-prefix(transition, font-size .3s ease-in-out)

.page-full
	background-color: presets.$primary-bg
	width: inherit
	height: inherit
	@include presets.flex-container
	@include presets.flex-vert

.underconstruction 
	font-size: 26vmin !important
	margin-bottom: 48px
	color: presets.$white-muted
	cursor: default
	@include presets.no-select
	@include templates.css3-prefix(transition, font-size .3s ease-in-out)
	&:hover
		font-size: 28vmin !important
		@include templates.css3-prefix(transition, font-size .3s ease-in-out)
	&:hover ~ .flex-text
		font-size: 8.5vmin !important
		@include templates.css3-prefix(transition, font-size .3s ease-in-out)

.content-page
	position: relative
	margin: 72px
	height: 100%
	.maintenance-mode
		@include presets.flex-container
		@include presets.flex-vert
		@include presets.flex-vert-center
		@include presets.flex-horiz-center
		height: 100%

.box-test
	min-height: 300px
	width: 600px
	background-color: presets.$white-muted






