// Inheritances
@use "presets"
@use "templates"
@use "sets"

// Variables


.footer-area
	width: 100%
	padding: 0 72px
	margin: 100px 0
	.footer-sep
		width: 100%
		height: 3px
		background-color: presets.$accent-color
		border-radius: 4px
		display: inline-block
		margin-top: 72px
	.footer-wrapper
		padding: 32px 16px
		@include presets.flex-container
		@include presets.flex-horiz
		@include presets.flex-horiz-between
		.footer-content
			color: presets.$white-muted
			&.footer-left
				text-align: left
				div
					margin-bottom: 16px
				.footer-logo
					@include presets.bs-text-allheaders
					font-size: 24px
					&:hover
						color: white
				.fa
					font-size: 19px
					text-align: center
					text-decoration: none
					margin-right: 8px
					color: presets.$white-muted
					&:hover
						color: white
			&.footer-right
				text-align: right
				div
					margin-top: 8px
					margin-bottom: 14px
					span
						margin-left: 4px
						cursor: pointer
						&:hover
							color: white
				.creator-credit
					font-size: 13px
					&:hover
						color: white
					