// Inheritances
@use "variables"

// Variables
$mobile-width: 400px

// Configurations
// h1
// 	@include variables.bs-text-h1
// h2
// 	@include variables.bs-text-h2
// h3
// 	@include variables.bs-text-h3
// h4
// 	@include variables.bs-text-h4
// h5
// 	@include variables.bs-text-h5
// h6
// 	@include variables.bs-text-h6

header
	background-color: variables.$red-teal
	color: white
	height: 8vh
	width: inherit
	position: absolute
	overflow: visible
	// z-index: -1
	h1
		@include variables.bs-text-h1
		display: flex
		align-items: center !important

// .header-desktop
	

// .header-mobile


@media screen and (min-width: $mobile-width+1)
	.header-mobile
		display: none
@media screen and (max-width: $mobile-width)
	.header-desktop
		display: none
