// Inheritances
@use "presets"
@use "templates"
@use "fonts"

// Variables
$mobile-width: 400px
$greyishWhite: #D2D2D2

// Configurations
// h1
// 	@include variables.bs-text-h1
// h2
// 	@include variables.bs-text-h2
// h3
// 	@include variables.bs-text-h3
// h4
// 	@include variables.bs-text-h4
// h5
// 	@include variables.bs-text-h5
// h6
// 	@include variables.bs-text-h6

.header-top
	position: fixed
	background-color: presets.$primary-color
	height: 72px
	width: 100%
	box-shadow: 0 4px 16px presets.$primary-color
	

.header-wrapper
	width: 100%
	height: inherit
	@include presets.flex-container
	@include presets.flex-horiz-between
	position: relative
	display: flex
	margin: 0
	#rightHeader
		i.material-icons.btn-play-left, i.material-icons.btn-play-right
			position: absolute
			top: 27px
			color: presets.$black-dark
			@include presets.no-select
		i.material-icons.btn-play-right
			margin-left: 120px
		margin: 8px 26px 8px 0
	#leftHeader
		margin: -24px 0 0 26px
		@include presets.flex-container

.playnow-header
	height: 50px
	width: 144px
	max-width: 144px
	max-width: 144px
	margin-top: 7px
	overflow: visible
	background-color: presets.$primary-color
	color: presets.$accent-color
	border-radius: 3px
	cursor: pointer
	@include presets.flex-container
	@include presets.flex-horiz-center
	@include presets.flex-vert-center
	@include templates.css3-prefix(transition, all .3s ease-in)
	.playnow-header-text
		margin: auto
		padding-top: 7px
		font-family: 'Bebas Neue'
		@include presets.bs-text-h2
	&:hover
		color: presets.$black-dark
		background-color: presets.$accent-color
		@include templates.css3-prefix(transition, all .3s ease-in)


.hamburger-menu
	height: 28px
	width: 32px
	top: 26px
	left: 0
	margin-left: -10px
	position: absolute
	cursor: pointer
	@include templates.css3-prefix(transition, margin-left .2s ease-in)
	.hamburger-wrapper
		@include presets.flex-container
		@include presets.flex-vert
		@include presets.flex-vert-between
		.hmenu-1, .hmenu-2, .hmenu-3
			width: 32px
			height: 4px
			margin-bottom: 5px
			border-radius: 3px
			background-color: presets.$accent-color
	&:hover
		margin-left: -5px
		@include templates.css3-prefix(transition, margin-left .2s ease-out)


.logo-wrapper 
	margin-left: 16px
	.logo-xchaser
		@include presets.bs-text-h1
		color: presets.$accent-color
		cursor: pointer
		@include templates.css3-prefix(transition, all .15s ease-out)
		font-family: 'Concert One', presets.$font-sans_serif
		&:hover
			@include templates.css3-prefix(transition, all .3s ease-in-out)
			color: presets.$accent-color2
			text-shadow: 0 .5px 10px presets.$accent-color2
	.logo-margin
		display: inline-block
		
	
	

// .header-desktop
	

// .header-mobile


@media screen and (min-width: $mobile-width+1)
	.header-mobile
		display: none
@media screen and (max-width: $mobile-width)
	.header-desktop
		display: none
