// Inheritances
@use "presets"
@use "templates"
@use "sets"

.slidingmenu
	overflow: visible
	position: absolute
	@include presets.flex-container
	@include presets.flex-vert
	top: 10%
	left: 0
	margin-left: -20px
	max-width: 100vw
	max-height: 100vh
	@media screen and (min-height: 1200px)
		top: 92px
	.slidingmenu-content
		width: 274px
		height: 56px
		max-height: 56px
		min-height: 48px
		max-width: 274px
		min-width: 144px
		margin-bottom: 16px !important
		margin-left: -350px
		padding: 0 50px 0 40px
		border-radius: 0 0 45px 0
		background-color: presets.$primary-color
		color: presets.$accent-color
		box-shadow: 0 4px 4px presets.$primary-color
		font-size: 24px
		text-transform: uppercase
		text-decoration: none
		z-index: 1
		@include presets.bs-text-allheaders
		@include presets.font-sans_serif
		@include presets.flex-container
		@include presets.flex-vert-center
		@include presets.flex-horiz-start
		@include templates.css3-prefix(transition, margin-left .1s ease-in)
		.slidingmenu-content-text
			@include presets.flex-container
			@include presets.flex-horiz
			> .icons-sliding-menu
				margin: 2px 24px 0 0
				font-size: 24px
				width: 24px
				text-align: center
				font-family: 'FontAwesome Solid'
				font-weight: 900
		&:hover
			background-color: presets.$accent-color
			color: presets.$secondary-color
			box-shadow: 0 1px 1px presets.$accent-color2
			background-image: linear-gradient(110deg, presets.$secondary-color 10.5%, presets.$accent-color2 10.5%)
			@include templates.css3-prefix(transition, margin-left .15s)
	.slidingmenu-content-active
		margin-left: 0
		@include templates.css3-prefix(transition, margin-left .15s)

@media screen and (max-height: 640px)
	.slidingmenu
		top: 80px

