@use "essentials/header"
@use "essentials/footer"
@use "essentials/content"
@use "essentials/navigation"
@use "essentials/presets"
@use "essentials/templates"
@use "essentials/sets"

$imageSizeWidth: 600px
$imageSizeHeight: 300px

.gallery-page
	overflow-y: auto
	padding: 72px
	height: 100%
	@include presets.flex-container
	@include presets.flex-horiz
	@include presets.flex-horiz-center
	.gallery-page-x
		@include presets.flex-container
		@include presets.flex-vert
		@include presets.flex-vert-center
		@include templates.css3-prefix(flex, 1)
		> div
			margin-bottom: 32px
			width: $imageSizeWidth
			max-width: $imageSizeWidth
			> .image-card
				margin-bottom: 8px
				width: $imageSizeWidth
				max-width: $imageSizeWidth
				height: $imageSizeHeight
				max-height: $imageSizeHeight
				min-height: $imageSizeHeight
				overflow: hidden
				> img
					width: $imageSizeWidth
					display: inline-block
					&.bridge-photo
						margin: -40px 0 0 0
					&.man-evening
			h3
				@include presets.bs-text-h3
				color: presets.$white-muted
				margin-bottom: 8px
			p
				margin-bottom: 64px
				color: presets.$white-muted
				@include presets.bs-text-display-4
				font-size: 1.2rem !important
			small
				@include presets.bs-text-small 
			.muted
				@include presets.bs-text-muted