@use "essentials/header"
@use "essentials/footer"
@use "essentials/content"
@use "essentials/navigation"
@use "essentials/presets"
@use "essentials/templates"
@use "essentials/sets"

.flex-page	
	display: inherit
	width: inherit

.flex-text
	@include presets.bs-text-display-3
	color: white !important
	cursor: default
	@include templates.css3-prefix(user-select, none)
	-webkit-touch-callout: none
	@include presets.font-sans_serif
	@include templates.css3-prefix(transition, font-size .3s ease-in-out)
	&:hover
		font-size: 5rem
		@include templates.css3-prefix(transition, font-size .3s ease-in-out)
	&:hover ~ .underconstruction
		font-size: 13rem !important
		@include templates.css3-prefix(transition, font-size .3s ease-in-out)

.page-full
	background-color: presets.$grey-bg
	width: inherit
	height: inherit

.underconstruction 
	font-size: 12rem !important
	margin-bottom: 48px
	color: white
	cursor: default
	@include templates.css3-prefix(user-select, none)
	@include templates.css3-prefix(transition, font-size .3s ease-in-out)
	&:hover
		font-size: 13rem !important
		@include templates.css3-prefix(transition, font-size .3s ease-in-out)
	&:hover ~ .flex-text
		font-size: 5rem
		@include templates.css3-prefix(transition, font-size .3s ease-in-out)

