@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
.header-top {
  position: fixed;
  background-color: #1F1F1F;
  height: 72px;
  width: 100%;
  box-shadow: 0 4px 16px #1F1F1F;
}

.header-wrapper {
  width: 100%;
  height: inherit;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: space-between !important;
  position: relative;
  display: flex;
  margin: 0;
}
.header-wrapper #rightHeader {
  margin: 8px 26px 8px 0;
}
.header-wrapper #rightHeader i.material-icons.btn-play-left, .header-wrapper #rightHeader i.material-icons.btn-play-right {
  position: absolute;
  top: 20px;
  color: #2F2F2F;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
.header-wrapper #rightHeader i.material-icons.btn-play-right {
  margin-left: 120px;
}
.header-wrapper #leftHeader {
  margin: -24px 0 0 26px;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}

.playnow-header {
  height: 50px;
  width: 144px;
  max-width: 144px;
  max-width: 144px;
  margin-top: 0px;
  overflow: visible;
  background-color: #1F1F1F;
  color: #EAEA3B;
  border-radius: 3px;
  cursor: pointer;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.playnow-header .playnow-header-text {
  margin: auto;
  padding-top: 7px;
  font-family: "Bebas Neue";
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
}
.playnow-header:hover {
  color: #2F2F2F;
  background-color: #EAEA3B;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.hamburger-menu {
  height: 28px;
  width: 32px;
  top: 26px;
  left: 0;
  margin-left: -10px;
  position: absolute;
  cursor: pointer;
  -webkit-transition: margin-left 0.2s ease-in;
  -moz-transition: margin-left 0.2s ease-in;
  -ms-transition: margin-left 0.2s ease-in;
  -o-transition: margin-left 0.2s ease-in;
  transition: margin-left 0.2s ease-in;
}
.hamburger-menu .hamburger-wrapper {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
  align-items: space-between !important;
}
.hamburger-menu .hamburger-wrapper .hmenu-1, .hamburger-menu .hamburger-wrapper .hmenu-2, .hamburger-menu .hamburger-wrapper .hmenu-3 {
  width: 32px;
  height: 4px;
  margin-bottom: 5px;
  border-radius: 3px;
  background-color: #EAEA3B;
}
.hamburger-menu:hover {
  margin-left: -5px;
  -webkit-transition: margin-left 0.2s ease-out;
  -moz-transition: margin-left 0.2s ease-out;
  -ms-transition: margin-left 0.2s ease-out;
  -o-transition: margin-left 0.2s ease-out;
  transition: margin-left 0.2s ease-out;
}

.hamburger-menu-active {
  margin-left: -12px !important;
  -webkit-transition: margin-left 0.2s ease-out;
  -moz-transition: margin-left 0.2s ease-out;
  -ms-transition: margin-left 0.2s ease-out;
  -o-transition: margin-left 0.2s ease-out;
  transition: margin-left 0.2s ease-out;
}

.logo-wrapper {
  margin-left: 16px;
}
.logo-wrapper .logo-xchaser {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
  color: #EAEA3B;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  font-family: "Concert One", "Roboto", "Helvetica", "Arial", sans-serif;
}
.logo-wrapper .logo-xchaser:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #ECEC5B;
  text-shadow: 0 0.5px 10px #ECEC5B;
}
.logo-wrapper .logo-margin {
  display: inline-block;
}

@media screen and (min-width: 401px) {
  .header-mobile {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .header-desktop {
    display: none;
  }
}
.flex-container {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}

.flex-vert-center {
  align-items: center !important;
}

.flex-horiz-center {
  justify-content: center !important;
}

.flex-vert-between {
  align-items: space-between !important;
}

.flex-horiz-between {
  justify-content: space-between !important;
}

.flex-vert {
  flex-direction: column;
}

.flex-horiz {
  flex-direction: row;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container-lv0 {
  position: absolute;
}

.container-lv-1 {
  position: fixed;
}

.container-lv1 {
  position: relative;
}

.container-lv-2 {
  position: sticky;
}

.slidingmenu {
  overflow: visible;
  position: absolute;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
  top: 87px;
  left: 0;
  margin-left: -20px;
  max-width: 100vw;
  max-height: 100vh;
}
.slidingmenu .slidingmenu-content {
  width: 240px;
  height: 56px;
  max-height: 56px;
  min-height: 48px;
  max-width: 240px;
  min-width: 144px;
  margin-bottom: 16px !important;
  margin-left: -350px;
  padding: 0 40px 0 70px;
  border-radius: 0 0 45px 0;
  background-color: #1F1F1F;
  color: #EAEA3B;
  box-shadow: 0 4px 4px #1F1F1F;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center !important;
  justify-content: flex-start !important;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.slidingmenu .slidingmenu-content .slidingmenu-content-text {
  display: inline-block;
}
.slidingmenu .slidingmenu-content:hover {
  background-color: #2F2F2F;
  -webkit-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -ms-transition: background-color 0.15s;
  -o-transition: background-color 0.15s;
  transition: background-color 0.15s;
}
.slidingmenu .slidingmenu-content-active {
  margin-left: 0;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.flex-page {
  display: inherit;
  width: inherit;
}

.flex-text {
  font-size: 1.25rem;
  font-weight: 300;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: white !important;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}
.flex-text:hover {
  font-size: 5rem;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}
.flex-text:hover ~ .underconstruction {
  font-size: 13rem !important;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

.page-full {
  background-color: #444444;
  width: inherit;
  height: inherit;
}

.underconstruction {
  font-size: 12rem !important;
  margin-bottom: 48px;
  color: white;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}
.underconstruction:hover {
  font-size: 13rem !important;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}
.underconstruction:hover ~ .flex-text {
  font-size: 5rem;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

/*# sourceMappingURL=home.css.map */
