@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
header.header-top {
  position: relative;
  background-color: #0C0803;
  height: 72px;
  max-height: 72px;
  width: 100%;
  box-shadow: 0 4px 16px #0C0803;
}

.header-wrapper {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  position: relative;
  margin: 0;
}
.header-wrapper .logo-wrapper {
  margin-left: 20px;
  margin-top: -3px;
}
.header-wrapper .logo-wrapper .div-logo-xchaser .logo-xchaser {
  color: #FFAD01;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.header-wrapper .logo-wrapper .div-logo-xchaser .logo-xchaser:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #FDA90F;
  text-shadow: 0 0.5px 20px #FDA90F;
}
.header-wrapper .hamburger-wrapper {
  height: 22px;
  width: 32px;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center !important;
}
.header-wrapper .hamburger-menu {
  height: inherit;
  width: inherit;
  top: 25px;
  left: 0;
  margin-left: -13px;
  padding-right: 10px;
  position: absolute;
  cursor: pointer;
  -webkit-transition: margin-left 0.2s ease-in;
  -moz-transition: margin-left 0.2s ease-in;
  -ms-transition: margin-left 0.2s ease-in;
  -o-transition: margin-left 0.2s ease-in;
  transition: margin-left 0.2s ease-in;
}
.header-wrapper .hamburger-menu .hamburger-wrapper {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: space-between !important;
}
.header-wrapper .hamburger-menu .hamburger-wrapper .hmenu-1, .header-wrapper .hamburger-menu .hamburger-wrapper .hmenu-2, .header-wrapper .hamburger-menu .hamburger-wrapper .hmenu-3 {
  width: 32px;
  height: 4px;
  border-radius: 3px;
  background-color: #FFAD01;
}
.header-wrapper .hamburger-menu:hover {
  margin-left: -5px;
  -webkit-transition: margin-left 0.2s ease-out;
  -moz-transition: margin-left 0.2s ease-out;
  -ms-transition: margin-left 0.2s ease-out;
  -o-transition: margin-left 0.2s ease-out;
  transition: margin-left 0.2s ease-out;
}
.header-wrapper .hamburger-menu-active {
  margin-left: -15px !important;
  -webkit-transition: margin-left 0.2s ease-out;
  -moz-transition: margin-left 0.2s ease-out;
  -ms-transition: margin-left 0.2s ease-out;
  -o-transition: margin-left 0.2s ease-out;
  transition: margin-left 0.2s ease-out;
}
.header-wrapper .playnow-header {
  height: 44px;
  width: 144px;
  max-width: 144px;
  max-width: 144px;
  background-color: #0C0803;
  border-radius: 3px;
  cursor: pointer;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header-wrapper .playnow-header .play-arrow {
  color: #0C0803;
}
.header-wrapper .playnow-header .playnow-header-text {
  margin-top: 12px;
  margin-bottom: unset;
  height: 100%;
  text-transform: capitalize;
  color: #FFAD01;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center !important;
  font-family: "Bebas Neue";
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header-wrapper .playnow-header:hover {
  color: #2F2F2F;
  background-color: #FFAD01;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header-wrapper .playnow-header:hover > .playnow-header-text, .header-wrapper .playnow-header:hover .play-arrow {
  color: #2F2F2F;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header-wrapper #rightHeader {
  margin-right: 26px;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
  align-items: center !important;
}
.header-wrapper #leftHeader {
  margin-left: 26px;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: flex-start !important;
  align-items: center !important;
}

@media screen and (min-width: 401px) {
  .header-mobile {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .header-desktop {
    display: none;
  }
}
.flex-container {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}

.flex-vert-center {
  align-items: center !important;
}

.flex-horiz-center {
  justify-content: center !important;
}

.flex-vert-between {
  align-items: space-between !important;
}

.flex-horiz-between {
  justify-content: space-between !important;
}

.flex-vert {
  flex-direction: column;
}

.flex-horiz {
  flex-direction: row;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

.container-lv0 {
  position: absolute;
}

.container-lv-1 {
  position: fixed;
}

.container-lv1 {
  position: relative;
}

.container-lv-2 {
  position: sticky;
}

.content-disable {
  display: none;
}

.flex-page {
  display: inherit;
  width: inherit;
}

.flex-text {
  font-size: 1.25rem;
  font-weight: 300;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center !important;
  color: #D0D0D0;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}
.flex-text:hover {
  font-size: 5em;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}
.flex-text:hover ~ .underconstruction {
  font-size: 13em !important;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

.page-full {
  background-color: #2F2F2F;
  width: inherit;
  height: inherit;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
}

.underconstruction {
  font-size: 12rem !important;
  margin-bottom: 48px;
  color: #D0D0D0;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}
.underconstruction:hover {
  font-size: 13rem !important;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}
.underconstruction:hover ~ .flex-text {
  font-size: 5rem;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

.content-page {
  position: relative;
  margin: 72px 72px 72px 72px;
  height: 100%;
}
.content-page .maintenance-mode {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  height: 100%;
}

.box-test {
  min-height: 300px;
  width: 600px;
  background-color: #D0D0D0;
}

.slidingmenu {
  overflow: visible;
  position: absolute;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
  top: 87px;
  left: 0;
  margin-left: -20px;
  max-width: 100vw;
  max-height: 100vh;
}
.slidingmenu .slidingmenu-content {
  width: 264px;
  height: 56px;
  max-height: 56px;
  min-height: 48px;
  max-width: 264px;
  min-width: 144px;
  margin-bottom: 16px !important;
  margin-left: -350px;
  padding: 0 50px 0 50px;
  border-radius: 0 0 45px 0;
  background-color: #0C0803;
  color: #FFAD01;
  box-shadow: 0 4px 4px #0C0803;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center !important;
  justify-content: flex-start !important;
  -webkit-transition: margin-left 0.1s ease-in;
  -moz-transition: margin-left 0.1s ease-in;
  -ms-transition: margin-left 0.1s ease-in;
  -o-transition: margin-left 0.1s ease-in;
  transition: margin-left 0.1s ease-in;
}
.slidingmenu .slidingmenu-content .slidingmenu-content-text {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: row;
}
.slidingmenu .slidingmenu-content .slidingmenu-content-text > .icons-sliding-menu {
  margin: 2px 14px 0 0;
}
.slidingmenu .slidingmenu-content:hover {
  background-color: #FFAD01;
  color: #1F1F1F;
  box-shadow: 0 1px 1px #FDA90F;
  background-image: linear-gradient(110deg, #1F1F1F 10.5%, #FDA90F 10.5%);
  -webkit-transition: margin-left 0.15s;
  -moz-transition: margin-left 0.15s;
  -ms-transition: margin-left 0.15s;
  -o-transition: margin-left 0.15s;
  transition: margin-left 0.15s;
}
.slidingmenu .slidingmenu-content-active {
  margin-left: 0;
  -webkit-transition: margin-left 0.15s;
  -moz-transition: margin-left 0.15s;
  -ms-transition: margin-left 0.15s;
  -o-transition: margin-left 0.15s;
  transition: margin-left 0.15s;
}

/*# sourceMappingURL=home.css.map */
