@font-face {
  font-family: "Eurostile";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Eurostile/eurostile.woff") format("woff");
}
@font-face {
  font-family: "Eurostile Normal";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Eurostile/Eurostyle Normal.woff") format("woff");
}
@font-face {
  font-family: "Concert One";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ConcertOne/ConcertOne-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("../../fonts/Roboto/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../../fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../../fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("../../fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: "Michroma";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Michroma/Michroma-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display SC";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display SC";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Italic.ttf");
}
@font-face {
  font-family: "Playfair Display SC";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Bold.ttf");
}
@font-face {
  font-family: "Playfair Display SC";
  font-style: italic;
  font-weight: 700;
  src: url("../../fonts/PlayfairDisplaySC/PlayfairDisplaySC-BoldItalic.ttf");
}
@font-face {
  font-family: "Playfair Display SC";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Black.ttf");
}
@font-face {
  font-family: "Playfair Display SC";
  font-style: italic;
  font-weight: 900;
  src: url("../../fonts/PlayfairDisplaySC/PlayfairDisplaySC-BlackItalic.ttf");
}
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/BebasNeue/BebasNeue-Regular.ttf");
}
header.header-top {
  position: relative;
  background-color: #0C0803;
  height: 10%;
  max-height: 10%;
  min-height: 64px;
  overflow: visible;
  width: 100%;
  box-shadow: 0 4px 16px #0C0803;
}

.header-wrapper {
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  position: relative;
  margin: 0;
  height: 100%;
}
.header-wrapper .logo-wrapper {
  margin-left: 5px;
}
.header-wrapper .logo-wrapper .div-logo-xchaser .logo-xchaser {
  color: #FFAD01;
  cursor: pointer;
  -khtml-transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.header-wrapper .logo-wrapper .div-logo-xchaser .logo-xchaser:hover {
  -khtml-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #FDA90F;
  text-shadow: 0 0.5px 20px #FDA90F;
}
.header-wrapper .hamburger-menu-wrapper {
  height: 22px;
  width: 32px;
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center !important;
}
.header-wrapper .hamburger-wrapper {
  height: 22px;
  width: 32px;
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center !important;
}
.header-wrapper .hamburger-menu {
  height: inherit;
  width: inherit;
  left: 0;
  margin-left: -13px;
  padding-right: 30px;
  position: absolute;
  cursor: pointer;
  -khtml-transition: margin-left 0.2s ease-in;
  -webkit-transition: margin-left 0.2s ease-in;
  -moz-transition: margin-left 0.2s ease-in;
  -ms-transition: margin-left 0.2s ease-in;
  -o-transition: margin-left 0.2s ease-in;
  transition: margin-left 0.2s ease-in;
}
.header-wrapper .hamburger-menu .hamburger-wrapper {
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: space-between !important;
}
.header-wrapper .hamburger-menu .hamburger-wrapper .hmenu-1, .header-wrapper .hamburger-menu .hamburger-wrapper .hmenu-2, .header-wrapper .hamburger-menu .hamburger-wrapper .hmenu-3 {
  width: 32px;
  height: 4px;
  border-radius: 3px;
  background-color: #FFAD01;
}
.header-wrapper .hamburger-menu:hover {
  margin-left: -5px;
  -khtml-transition: margin-left 0.2s ease-out;
  -webkit-transition: margin-left 0.2s ease-out;
  -moz-transition: margin-left 0.2s ease-out;
  -ms-transition: margin-left 0.2s ease-out;
  -o-transition: margin-left 0.2s ease-out;
  transition: margin-left 0.2s ease-out;
}
.header-wrapper .hamburger-menu-active {
  margin-left: -18px !important;
  -khtml-transition: margin-left 0.2s ease-out;
  -webkit-transition: margin-left 0.2s ease-out;
  -moz-transition: margin-left 0.2s ease-out;
  -ms-transition: margin-left 0.2s ease-out;
  -o-transition: margin-left 0.2s ease-out;
  transition: margin-left 0.2s ease-out;
}
.header-wrapper .playnow-header {
  height: 44px;
  width: 144px;
  max-width: 144px;
  max-width: 144px;
  background-color: #0C0803;
  border-radius: 3px;
  cursor: pointer;
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  -khtml-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media screen and (max-width: 480px) {
  .header-wrapper .playnow-header {
    display: none;
    display-display: none;
  }
}
.header-wrapper .playnow-header .play-arrow {
  color: #0C0803;
  font-weight: 900;
  font-family: "FontAwesome Solid";
}
.header-wrapper .playnow-header .play-arrow .btn-play-left {
  margin-right: 10px;
}
.header-wrapper .playnow-header .play-arrow .btn-play-right {
  margin-left: 10px;
}
.header-wrapper .playnow-header .playnow-header-text {
  margin-top: 12px;
  margin-bottom: unset;
  height: 100%;
  text-transform: capitalize;
  color: #FFAD01;
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center !important;
  font-family: "Bebas Neue";
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  -khtml-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header-wrapper .playnow-header:hover {
  color: #0C0803;
  background-color: #FFAD01;
  -khtml-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header-wrapper .playnow-header:hover > .playnow-header-text, .header-wrapper .playnow-header:hover .play-arrow {
  color: #0C0803;
  -khtml-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header-wrapper #rightHeader {
  margin-right: 26px;
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
  align-items: center !important;
}
.header-wrapper #leftHeader {
  margin-left: 26px;
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: flex-start !important;
  align-items: center !important;
}

.flex-container {
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}

.flex-vert-center {
  align-items: center !important;
}

.flex-horiz-center {
  justify-content: center !important;
}

.flex-vert-between {
  align-items: space-between !important;
}

.flex-horiz-between {
  justify-content: space-between !important;
}

.flex-vert {
  flex-direction: column;
}

.flex-horiz {
  flex-direction: row;
}

.footer-area {
  width: 100%;
  padding: 0 72px;
  margin: 100px 0;
}
.footer-area .footer-sep {
  width: 100%;
  height: 3px;
  background-color: #FFAD01;
  border-radius: 4px;
  display: inline-block;
  margin-top: 72px;
}
.footer-area .footer-wrapper {
  padding: 32px 16px;
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}
.footer-area .footer-wrapper .footer-content {
  color: #D0D0D0;
}
.footer-area .footer-wrapper .footer-content.footer-left {
  text-align: left;
}
.footer-area .footer-wrapper .footer-content.footer-left .footer-logo {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 24px;
  margin-bottom: 24px;
}
.footer-area .footer-wrapper .footer-content.footer-left .footer-logo:hover {
  color: white;
}
.footer-area .footer-wrapper .footer-content.footer-left .fa {
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  margin-right: 12px;
  color: #D0D0D0;
}
.footer-area .footer-wrapper .footer-content.footer-left .fa:hover {
  color: white;
}
.footer-area .footer-wrapper .footer-content.footer-right {
  text-align: right;
}
.footer-area .footer-wrapper .footer-content.footer-right div {
  margin-top: 8px;
  margin-bottom: 30px;
}
.footer-area .footer-wrapper .footer-content.footer-right div span {
  margin-left: 4px;
  cursor: pointer;
}
.footer-area .footer-wrapper .footer-content.footer-right div span:hover {
  color: white;
}
.footer-area .footer-wrapper .footer-content.footer-right .creator-credit {
  font-size: 13px;
}
.footer-area .footer-wrapper .footer-content.footer-right .creator-credit:hover {
  color: white;
}
.footer-area .footer-wrapper .footer-content .socmed-icons {
  font-family: "FontAwesome Brands";
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

.container-lv0 {
  position: absolute;
}

.container-lv-1 {
  position: fixed;
}

.container-lv1 {
  position: relative;
}

.container-lv-2 {
  position: sticky;
}

.content-disable {
  display: none;
}

.content-children-disable * {
  display: none;
}
.content-children-disable:hover {
  display: none;
}
.content-children-disable:active {
  display: none;
}
.content-children-disable:link {
  display: none;
}

.scrollable-page {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 72px;
  height: 100%;
}
.scrollable-page h1.pagename {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
  font-family: "Playfair Display SC", "Times New Roman", "Liberation Serif";
  font-size: 8vmin !important;
  font-weight: 700 !important;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFAD01;
  padding-bottom: 16px;
  padding-top: 6vh;
}

.bg-topsection {
  position: static;
  overflow: visible;
  padding: 0 0 600px 0 !important;
  margin-bottom: calc(-600px + 72px);
  margin-top: -72px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100% auto;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.flex-page {
  display: inherit;
  width: inherit;
}

.flex-text {
  font-size: 1.25rem;
  font-weight: 300;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center !important;
  font-size: 8vmin !important;
  color: #D0D0D0;
  cursor: default;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -khtml-transition: font-size 0.3s ease-in-out;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}
.flex-text:hover {
  font-size: 8.5vmin !important;
  -khtml-transition: font-size 0.3s ease-in-out;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}
.flex-text:hover ~ .underconstruction {
  font-size: 28vmin !important;
  -khtml-transition: font-size 0.3s ease-in-out;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

.page-full {
  background-color: #1F1F1F;
  width: inherit;
  height: inherit;
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
}

.underconstruction {
  font-size: 26vmin !important;
  margin-bottom: 48px;
  color: #D0D0D0;
  cursor: default;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-transition: font-size 0.3s ease-in-out;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}
.underconstruction:hover {
  font-size: 28vmin !important;
  -khtml-transition: font-size 0.3s ease-in-out;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}
.underconstruction:hover ~ .flex-text {
  font-size: 8.5vmin !important;
  -khtml-transition: font-size 0.3s ease-in-out;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

.content-page {
  position: relative;
  margin: 72px;
  height: 100%;
}
.content-page .maintenance-mode {
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  height: 100%;
}

.box-test {
  min-height: 300px;
  width: 600px;
  background-color: #D0D0D0;
}

.slidingmenu {
  overflow: visible;
  position: absolute;
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
  top: 10vh;
  left: 0;
  margin-left: -20px;
  max-width: 100vw;
  max-height: 100vh;
}
.slidingmenu .slidingmenu-content {
  width: 274px;
  height: 56px;
  max-height: 56px;
  min-height: 48px;
  max-width: 274px;
  min-width: 144px;
  margin-bottom: 16px !important;
  margin-left: -350px;
  padding: 0 50px 0 40px;
  border-radius: 0 0 45px 0;
  background-color: #0C0803;
  color: #FFAD01;
  box-shadow: 0 4px 4px #0C0803;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center !important;
  justify-content: flex-start !important;
  -khtml-transition: margin-left 0.1s ease-in;
  -webkit-transition: margin-left 0.1s ease-in;
  -moz-transition: margin-left 0.1s ease-in;
  -ms-transition: margin-left 0.1s ease-in;
  -o-transition: margin-left 0.1s ease-in;
  transition: margin-left 0.1s ease-in;
}
.slidingmenu .slidingmenu-content .slidingmenu-content-text {
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: row;
}
.slidingmenu .slidingmenu-content .slidingmenu-content-text > .icons-sliding-menu {
  margin: 2px 24px 0 0;
  font-size: 24px;
  width: 24px;
  text-align: center;
  font-family: "FontAwesome Solid";
  font-weight: 900;
}
.slidingmenu .slidingmenu-content:hover {
  background-color: #FFAD01;
  color: #1F1F1F;
  box-shadow: 0 1px 1px #FDA90F;
  background-image: linear-gradient(110deg, #1F1F1F 10.5%, #FDA90F 10.5%);
  -khtml-transition: margin-left 0.15s;
  -webkit-transition: margin-left 0.15s;
  -moz-transition: margin-left 0.15s;
  -ms-transition: margin-left 0.15s;
  -o-transition: margin-left 0.15s;
  transition: margin-left 0.15s;
}
.slidingmenu .slidingmenu-content-active {
  margin-left: 0;
  -khtml-transition: margin-left 0.15s;
  -webkit-transition: margin-left 0.15s;
  -moz-transition: margin-left 0.15s;
  -ms-transition: margin-left 0.15s;
  -o-transition: margin-left 0.15s;
  transition: margin-left 0.15s;
}

@media screen and (max-height: 640px) {
  .slidingmenu {
    top: 80px;
  }
}
.bg-topsection {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 30%, #1f1f1f 80%), url("../../images/extern/backgrounds/lore.png");
}
@media screen and (max-width: 960px) {
  .bg-topsection {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 20%, #1f1f1f 70%), url("../../images/extern/backgrounds/lore.png");
  }
}
@media screen and (max-width: 800px) {
  .bg-topsection {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 20%, #1f1f1f 60%), url("../../images/extern/backgrounds/lore.png");
  }
}
@media screen and (max-width: 650px) {
  .bg-topsection {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 10%, #1f1f1f 50%), url("../../images/extern/backgrounds/lore.png");
  }
}
@media screen and (max-width: 540px) {
  .bg-topsection {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 5%, #1f1f1f 30%), url("../../images/extern/backgrounds/lore.png");
  }
}

.lore-page {
  -khtml-display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
.lore-page .pagename {
  white-space: nowrap;
}
.lore-page div.sep-pagename {
  padding-bottom: 72px;
}
.lore-page div.sep-pagename > span.horiz-line {
  width: 120px;
  height: 3px;
  background-color: #FFAD01;
  border-radius: 4px;
  display: inline-block;
}
.lore-page .lore-page-content {
  margin: 0 48px;
}
.lore-page .lore-page-content .lore-text {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-indent: 2em;
  font-weight: 300;
  color: white;
  font-size: 12pt;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
.lore-page .lore-page-content .lore-text .lore-text-highlighter:hover {
  color: #FFAD01;
}

/*# sourceMappingURL=lore.css.map */
