@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
.header-top {
  position: fixed;
  background-color: #1F1F1F;
  height: 72px;
  width: 100%;
  box-shadow: 0 4px 16px #1F1F1F;
}

.header-wrapper {
  width: 100%;
  height: inherit;
  color: white;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: space-between !important;
  position: relative;
  display: flex;
  margin: 0;
}
.header-wrapper #rightHeader {
  margin: 8px 26px 8px 0;
}
.header-wrapper #leftHeader {
  margin: -24px 0 0 26px;
}

.playnow-header {
  height: 50px;
  width: 144px;
  max-width: 144px;
  mix-width: 144px;
  overflow: hidden;
  background-image: linear-gradient(180deg, #2F2F2F, #1F1F1F, #2F2F2F);
  color: #ECEC5B;
  border-radius: 3px;
  cursor: pointer;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -ms-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.playnow-header .playnow-header-text {
  font-family: "Bebas Neue";
  margin: auto;
  padding-top: 7px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
}
.playnow-header:hover {
  background-image: linear-gradient(180deg, #EAEA3B 1%, #1F1F1F 40%, #1F1F1F 60%, #EAEA3B 99%);
  color: white;
  -webkit-transition: color 0s;
  -moz-transition: color 0s;
  -ms-transition: color 0s;
  -o-transition: color 0s;
  transition: color 0s;
}

.logo-wrapper .logo-xchaser {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
  color: #EAEA3B;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  font-family: "Concert One", "Roboto", "Helvetica", "Arial", sans-serif;
}
.logo-wrapper .logo-xchaser:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #ECEC5B;
  text-shadow: 0 0.5px 10px #ECEC5B;
}
.logo-wrapper .logo-margin {
  display: inline-block;
}

@media screen and (min-width: 401px) {
  .header-mobile {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .header-desktop {
    display: none;
  }
}
.flex-container {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}

.flex-vert-center {
  align-items: center !important;
}

.flex-horiz-center {
  justify-content: center !important;
}

.flex-vert-between {
  align-items: space-between !important;
}

.flex-horiz-between {
  justify-content: space-between !important;
}

.flex-vert {
  flex-direction: column;
}

.flex-horiz {
  flex-direction: row;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container-lv0 {
  position: absolute;
}

.container-lv-1 {
  position: fixed;
}

.container-lv1 {
  position: relative;
}

.container-lv-2 {
  position: sticky;
}

/*# sourceMappingURL=preregister.css.map */
